<%-include ('header')-%>
<div class="mt-0 col-md-4 col-md-offset-4 form-card border py-5 blur">
<div class="text-center center-div" id="login">
    
        <h3>Welcome To Express Dashboard</h3>
        <h5><%= locals.user ? user : "User" %></h5>
        <a href="/route/logout">Logout</a>
    
</div>
</div>
<%-include ('footer')-%>
