<footer class="footer">
<!-- Copyright -->
<div class="text-center p-4" style="background-color: #466768;">
    © 2023 Copyright
    <a class="text-white" href="">U-80/7 Dlf Phase-II Gurgaon Haryana-122002</a>
    <small class="card-text" style="font-size: x-small; font-weight: bold;color: rgb(237 29 5);font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <a href="/route/downloadTermCondfile/TermCondition.jpg" class="card-text">Download Term & Condition</a>
      </small>
  </div>
  <!-- Copyright -->  
</footer>


